<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="private_api_key" value="" />
    <add key="list_token" value="" />
    <add key="last" value="Warrentest" />
    <add key="first" value="Luketest" />
    <add key="email" value="luke@lukewarrendev.co.za" />
  </appSettings>
</configuration>