<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="private_api_key" value="pk_5821401c0fe073214c66b37d5e7bcc7e2a" />
    <add key="list_token" value="mVG4ry" />
    <add key="email" value="lukejkw@gmail.com" />
    <add key="first" value="LukeTest" />
    <add key="last" value="WarrenTest" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>